*{
    font-family: "Parkinsans", sans-serif;
}

header{
    background-color: #6D6875;
}

body{
    background-color: whitesmoke;
}
#my-name{
    color:whitesmoke;
}

.nav-item a{
    color: #FFCDB2;
}
/*#btn-profile{
    background-color: #FFCDB2;
    color: black;
}*/

.me-title{
    color: #6D6875;
}
.nav-item a:hover{
    color: #E5989B;
}

#app{
    color: #B5838D;
}

#hanging-icons{
    color: #B5838D;
}
.skill-title{
    color:#6D6875;
}

.icon{
    color: #E5989B;
}

#projects-title{
    color: #B5838D;
}
.card-body{
    background-color: #B5838D;
    color: whitesmoke;
}
.btn-pj{
    background-color: #6D6875;
    
}

.btn-pj a{
    text-decoration: none;
    color: whitesmoke;
}

.btn-pj a:hover {
    color:#E5989B;
}

#collabs-title{
    color: #B5838D;
}
.card-subtitle{
    color: #FFCDB2;
}

#contact{
    background-color:#6D6875 ;
    color: whitesmoke;
}

#btn-contact{
    background-color: #FFCDB2;
    color: #6D6875;
}
#btn-contact:hover{
    background-color: #E5989B;
}

footer p{
    color: black;
}
footer p a{
    text-decoration: none;
    color: #E5989B;
}