*{
    font-family: "Parkinsans", sans-serif;
}

header{
    background-color: #6D6875;
}

body{
    background-color: whitesmoke;
}
#my-name{
    color:whitesmoke;
}

.nav-item a{
    color: #FFCDB2;
}
/*#btn-profile{
    background-color: #FFCDB2;
    color: black;
}*/

.me-title{
    color: #6D6875;
}
.nav-item a:hover{
    color: #E5989B;
}

#app{
    color: #B5838D;
}

#section-title{
    color: #B5838D;
}
.skill-title{
    color:#6D6875;
}

.icon{
    color: #E5989B;
}

.card-body{
    background-color: #B5838D;
    color: whitesmoke;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

.certification-card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
}

.certification-card h5 {
    margin-top: 0.5rem;
}

.certification-card a {
    font-size: 0.95rem;
}

.collab-logo {
    height: 50px;
  max-width: 120px;
  object-fit: contain;
  margin-bottom: 10px;
    
}

.btn-pj{
    background-color: #6D6875;
    
}

.btn-pj a{
    text-decoration: none;
    color: whitesmoke;
}

.btn-pj a:hover {
    color:#E5989B;
}

.card-subtitle{
    color: #FFCDB2;
}

#contact{
    background-color:#6D6875 ;
    color: whitesmoke;
}

#btn-contact{
    background-color: #FFCDB2;
    color: #6D6875;
}
#btn-contact:hover{
    background-color: #E5989B;
}

footer p{
    color: black;
}
footer p a{
    text-decoration: none;
    color: #E5989B;
}